<tr>
    <td>$name</td>
    <td>$year</td>
    <td><a href="$link" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-link"></i></a></td>
    <td>
        <div class="btn-group">
            <input type="radio" class="btn-check" name="$uuid-feelings" id="$uuid-unseen" autocomplete="off" checked />
            <label class="btn btn-secondary" for="$uuid-unseen"><i class="fa-regular fa-eye-slash"></i></label>

            <input type="radio" class="btn-check" name="$uuid-feelings" id="$uuid-dislike" autocomplete="off" />
            <label class="btn btn-secondary" for="$uuid-dislike"><i class="fa-regular fa-thumbs-down"></i></label>

            <input type="radio" class="btn-check" name="$uuid-feelings" id="$uuid-fine" autocomplete="off" />
            <label class="btn btn-secondary" for="$uuid-fine"><i class="fa-regular fa-face-meh"></i></label>

            <input type="radio" class="btn-check" name="$uuid-feelings" id="$uuid-like" autocomplete="off" />
            <label class="btn btn-secondary" for="$uuid-like"><i class="fa-regular fa-thumbs-up"></i></label>

            <input type="radio" class="btn-check" name="$uuid-feelings" id="$uuid-love" autocomplete="off" />
            <label class="btn btn-secondary" for="$uuid-love"><i class="fa-regular fa-heart"></i></label>
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        <div class="btn-group">
            <input type="radio" class="btn-check" name="$uuid-technical" id="$uuid-bad" autocomplete="off" />
            <label class="btn btn-secondary" for="$uuid-bad"><i class="fa-solid fa-poo"></i></i></label>

            <input type="radio" class="btn-check" name="$uuid-technical" id="$uuid-neutral" autocomplete="off" checked />
            <label class="btn btn-secondary" for="$uuid-neutral"><i class="fa-solid fa-minus"></i></label>

            <input type="radio" class="btn-check" name="$uuid-technical" id="$uuid-good" autocomplete="off" />
            <label class="btn btn-secondary" for="$uuid-good"><i class="fa-solid fa-trophy"></i></i></label>
        </div>
    </td>
</tr>
