<tr>
    <td>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4 class="mb-3">$name ($year) <a href="$link" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-link"></i></a></h4>
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="$uniqueKey-feelings" id="$uniqueKey-unseen" autocomplete="off" onclick="updateFeelings('$uniqueKey', 'unseen')" checked />
                    <label class="btn btn-secondary" for="$uniqueKey-unseen"><i class="fa-regular fa-eye-slash"></i></label>

                    <input type="radio" class="btn-check" name="$uniqueKey-feelings" id="$uniqueKey-dislike" autocomplete="off" onclick="updateFeelings('$uniqueKey', 'dislike')" />
                    <label class="btn btn-secondary" for="$uniqueKey-dislike"><i class="fa-regular fa-thumbs-down"></i></label>

                    <input type="radio" class="btn-check" name="$uniqueKey-feelings" id="$uniqueKey-fine" autocomplete="off" onclick="updateFeelings('$uniqueKey', 'fine')" />
                    <label class="btn btn-secondary" for="$uniqueKey-fine"><i class="fa-regular fa-face-meh"></i></label>

                    <input type="radio" class="btn-check" name="$uniqueKey-feelings" id="$uniqueKey-like" autocomplete="off" onclick="updateFeelings('$uniqueKey', 'like')" />
                    <label class="btn btn-secondary" for="$uniqueKey-like"><i class="fa-regular fa-thumbs-up"></i></label>

                    <input type="radio" class="btn-check" name="$uniqueKey-feelings" id="$uniqueKey-love" autocomplete="off" onclick="updateFeelings('$uniqueKey', 'love')" />
                    <label class="btn btn-secondary" for="$uniqueKey-love"><i class="fa-regular fa-heart"></i></label>
                </div>
                <div></div>
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="$uniqueKey-technical" id="$uniqueKey-terrible" autocomplete="off" onclick="updateTechnical('$uniqueKey', 'terrible')" />
                    <label class="btn btn-secondary" for="$uniqueKey-terrible"><i class="fa-solid fa-1"></i><i class="fa-solid fa-star"></i></label>

                    <input type="radio" class="btn-check" name="$uniqueKey-technical" id="$uniqueKey-bad" autocomplete="off" onclick="updateTechnical('$uniqueKey', 'bad')" />
                    <label class="btn btn-secondary" for="$uniqueKey-bad"><i class="fa-solid fa-2"></i><i class="fa-solid fa-star"></i></label>

                    <input type="radio" class="btn-check" name="$uniqueKey-technical" id="$uniqueKey-neutral" autocomplete="off" onclick="updateTechnical('$uniqueKey', 'neutral')" checked />
                    <label class="btn btn-secondary" for="$uniqueKey-neutral"><i class="fa-solid fa-3"></i><i class="fa-solid fa-star"></i></label>

                    <input type="radio" class="btn-check" name="$uniqueKey-technical" id="$uniqueKey-good" autocomplete="off" onclick="updateTechnical('$uniqueKey', 'good')" />
                    <label class="btn btn-secondary" for="$uniqueKey-good"><i class="fa-solid fa-4"></i><i class="fa-solid fa-star"></i></label>

                    <input type="radio" class="btn-check" name="$uniqueKey-technical" id="$uniqueKey-great" autocomplete="off" onclick="updateTechnical('$uniqueKey', 'great')" />
                    <label class="btn btn-secondary" for="$uniqueKey-great"><i class="fa-solid fa-5"></i><i class="fa-solid fa-star"></i></label>
                </div>
            </div>
        </div>
    </td>
</tr>
